* {
    box-sizing: inherit;
}

html {
    background-color: #f5f5f5;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.container {
    height: auto;
}
